<ion-view view-title="New Password" cache-view="false">
  <ion-content class="padding">

  <form name="newPasswordForm">
    <div class="list list-inset">
            <label class="item item-input">
                <input required type="email" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input required type="number" placeholder="Reset Code" ng-model="data.token">
            </label>
            <label class="item item-input">
                <input required type="password" placeholder="New Password" ng-model="data.password">
            </label>
   </div>
 </form>
      <button class="button button-block button-calm" ng-disabled="!newPasswordForm.$valid" 
        ng-click="saveNewPassword()">
        Save New Password
      </button>
      <p>A reset code was emailed to your email address. Enter the code above along with your new desired password and click Save New Password.</p>
      <button class="button button-clear button-positive" ng-click="mailNewCode()">
       Mail New Reset Code?
     </button>
  </ion-content>
</ion-view>
